/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: map-get($icon-home, 'width');
}

At the bottom of this section, we provide information about the spritesheet itself
*/
$i-circle: (
  name: 'i-circle',
  x: 91px,
  y: 0px,
  offset-x: -91px,
  offset-y: 0px,
  width: 76px,
  height: 76px,
  total-width: 248px,
  total-height: 91px,
  image: '../img/sprite.png'
);
$i-rectangle: (
  name: 'i-rectangle',
  x: 177px,
  y: 0px,
  offset-x: -177px,
  offset-y: 0px,
  width: 71px,
  height: 71px,
  total-width: 248px,
  total-height: 91px,
  image: '../img/sprite.png'
);
$i-triangle: (
  name: 'i-triangle',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 81px,
  height: 91px,
  total-width: 248px,
  total-height: 91px,
  image: '../img/sprite.png'
);
$spritesheet: (
  width: 248px,
  height: 91px,
  image: '../img/sprite.png',
  sprites: ($i-circle, $i-rectangle, $i-triangle, )
);

/*
The provided mixins are intended to be used with variables directly

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: map-get($sprite, 'width') / 2;
}

@mixin sprite-height($sprite) {
  height: map-get($sprite, 'height') / 2;
}

@mixin sprite-position($sprite) {
  background-position: (map-get($sprite, 'offset-x') / 2) (map-get($sprite, 'offset-y') / 2);
}

@mixin sprite-image($sprite) {
  background-image: url(map-get($sprite, 'image'));
  background-size: (map-get($sprite, 'width') / 2) (map-get($sprite, 'height') / 2);
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites(map-get($spritesheet, 'sprites'));
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: map-get($sprite, 'name');
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
