doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    title gulpack
    link(rel='stylesheet' href='./css/style.css')
  body
    include /tmp/sprite.svg
    h1 It's works!
    script(src='./js/bundle.js')
